on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '24'
          gleam-version: '0.16'
          rebar3-version: '3.16'
      - run: rebar3 ct